* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}

.cube {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 420px;
  text-align: center;
  
}

.card {
  width: 60px;
  height: 60px;
  margin: 5px;
  position: relative;
}

.card__hidden {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  z-index: 1;
  transition: transform .5s;
}
.card h2 {
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(249, 190, 88);
  transform: rotate3d(0, 1, 0, 180deg);
  z-index: 0;
  transition: transform .5s;
}

.remove {
  opacity: 0;
}

.table {
  width: 300px;
  height: 300px;
  border: 1px solid ;
  margin: 20px auto;
}

.countup {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.countup-inner {
  width: 100%;
}

.countup-inner > div {
  font-size: 30px;
  width: 100%;
}

.countup-inner > button {
  width: 60%;
  margin: 0 auto;
  background-color: rgb(33, 168, 210);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
}
